res_json/*
app/res_json/*
html_results/*
Minio/*
tech_json/working_time.json
tech_json/errors.json
tech_json/HOME.json
tech_json/number_of_vehicle_types_to_skip.json
tech_json/restart_point.json
db_tech_json/last_written_to_db_review.json
db_tech_json/all_json_names.txt
db_tech_json/error_list.json
downloaded_files
__pycache__/
venv/
code_and_files_that_are_not_used_in_program/
*.sql
request_data_extractor.py